<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<img src="/cf/1mb.png" srcset="/cf/1mb-200.webp 200w, /cf/1mb-400.webp 400w, /cf/1mb-800.webp 800w, /cf/1mb-1600.webp 1600w, /cf/1mb-3200.webp 3200w" loading="lazy">
<div style="margin-bottom: 2000px"></div>
<img src="/cf/5mb.png" srcset="/cf/5mb-200.webp 200w, /cf/5mb-400.webp 400w, /cf/5mb-800.webp 800w, /cf/5mb-1600.webp 1600w, /cf/5mb-3200.webp 3200w" loading="lazy">
<div style="margin-bottom: 2000px"></div>
<img src="/cf/10mb.png" srcset="/cf/10mb-200.webp 200w, /cf/10mb-400.webp 400w, /cf/10mb-800.webp 800w, /cf/10mb-1600.webp 1600w, /cf/10mb-3200.webp 3200w" loading="lazy">
</body>
</html>